
/* Optional: Custom local font */
@font-face {
  font-family: 'Krasar';
  src: url('/assets/KRASAR-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Apply to body */
body {
  font-family: 'Krasar', sans-serif !important;
}
